doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title eLearing
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/grid.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
        link(rel="stylesheet", href="css/base.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
    body 
     .header 
      .header__logo 
       .logo <i class="fa-solid fa-book"></i> eLEARNING
      .header__nav 
       ul.nav 
        li(class="maincolor")
         a(href="")  Home
        li 
         a(href="")  About
        li
         a(href="")  Courses
        li 
         a(href="") Pages <i class="fa-solid fa-angle-down"></i>
          .background 
          ul.sub__nav 
           li
            a(href="") Our Team
           li 
            a(href="") Testimonial
           li 
            a(href="") 404 Page
        li
         a(href="") Contact
        li(class="changeBtn") 
         a(href="") Join Now <i class="fa-solid fa-angle-right"></i>
      .header__menu 
       <i class="menu fa-solid fa-bars"></i>
     .swiper.mySwiper
      .swiper-wrapper
       .swiper-slide 
        .swiper__content 
         p.swiper__title Best Online Courses
         p.swiper__heading Get Educated Online From Your Home
         p.swiper__about Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.
         .container__box  
          p.read__more Read More
          p.not__now Join Now
       .swiper-slide.swiper-slide-2
        .swiper__content 
         p.swiper__title Best Online Courses
         p.swiper__heading Get Educated Online From Your Home
         p.swiper__about Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.
         .container__box  
          p.read__more Read More
          p.not__now Join Now
      .swiper__button 
       .swiper-button-next
       .swiper-button-prev
 
     .container 
      .content__card 
       .grid.wide 
        .row 
         .col.l-3.m-6.c-12
          .card__box 
           <i class="fa-solid fa-graduation-cap"></i>
           p.card__title Skilled Instructors
           p.card__about Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam
         .col.l-3.m-6.c-12 
          .card__box 
           <i class="fa-solid fa-earth-africa"></i>
           p.card__title Online Classes
           p.card__about Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam
         .col.l-3.m-6.c-12 
          .card__box 
           <i class="fa-solid fa-house"></i>
           p.card__title Home Projects
           p.card__about Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam     
         .col.l-3.m-6.c-12 
          .card__box 
           <i class="fa-solid fa-book-open"></i>
           p.card__title Book Library
           p.card__about Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam  
      .about__us 
       .grid.wide 
        .row 
         .col.l-6.m-12.c-12
          .about__img
           img(src="https://technext.github.io/elearning/img/about.jpg", alt="", srcset="")
         .col.l-6.m-12.c-12
          .about__txt
           .title__content  
            p.about__title ABOUT US
            .about__line  
             .top__line 
             .bottom__line 
           p.about__heading Welcome to eLEARNING
           p.about__info Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.
           p.about__info Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
           .about__list 
            ul.about__nav 
             li <i class="fa-solid fa-arrow-right-long"></i> 
              p  Skilled Instructors
             li <i class="fa-solid fa-arrow-right-long"></i>  
              p International Certificate
             li <i class="fa-solid fa-arrow-right-long"></i>
              p Online Classes
            ul.about__nav 
             li <i class="fa-solid fa-arrow-right-long"></i> 
              p Online Classes
             li <i class="fa-solid fa-arrow-right-long"></i> 
              p Skilled Instructors
             li <i class="fa-solid fa-arrow-right-long"></i> 
              p International Certificate
           p.read__more.read__more-about Read More
      .categories__content
       .title__content  
        .cata__line  
         .top__line.top__right-line
         .bottom__line 
        p.cata__title CATEGORIES 
        .cata__line  
         .top__line 
         .bottom__line 
       p.cata__heading Courses Categories
       .grid.wide 
        .row 
         .col.l-7.m-12.c-12
          .grid
           .row 
            .col.l-12.m-12.c-12 
             .content__img 
              .img__hidden 
               img(src="https://technext.github.io/elearning/img/cat-1.jpg", alt="", srcset="")
              .img__info 
               p.info__title Web Design 
               p.info__about 49 Courses
            .col.l-6.m-12.c-12
             .content__img-2 
              .img__hidden  
               img(src="https://technext.github.io/elearning/img/cat-2.jpg", alt="", srcset="")
              .img__info 
                p.info__title Graphic Design
                p.info__about 49 Courses
            .col.l-6.m-12.c-12 
             .content__img-2.content__img-4 
              .img__hidden 
               img(src="https://technext.github.io/elearning/img/cat-3.jpg", alt="", srcset="")
              .img__info.img__info-2 
               p.info__title Video Editin 
               p.info__about 49 Courses
         .col.l-5.m-12.c-12
          .content__img-3
           .img__hidden-2
            img(src="https://technext.github.io/elearning/img/cat-4.jpg", alt="", srcset="")
           .img__info.img__info-3 
              p.info__title Online Marketing 
              p.info__about 49 Courses
      .popular__courses 
       .title__content  
        .course__line  
         .top__line.top__right-line
         .bottom__line 
        p.course__title COURSES
        .course__line  
         .top__line 
         .bottom__line 
       p.course__heading Popular Courses
       .grid.wide 
        .row 
     
         .col.l-4.m-12.c-12 
          .course__box
           .img__box 
            img(src="https://technext.github.io/elearning/img/course-1.jpg", alt="", srcset="")
            .info__box 
             .info__read-more Read More 
             .info__join-now Join Now
           .course__txt 
            .txt__pad 
             p.course__price $149.00
             p.rating__star <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>  (123)
             p.course__txt-title Web Design & Development Course for Beginners
            ul.course__nav 
             li <i class="fa-solid fa-chalkboard-user"></i> John Doe
             li  <i class="fa-solid fa-clock"></i> 1.49 Hrs
             li <i class="fa-solid fa-user"></i> 30 Students
         .col.l-4.m-12.c-12 
          .course__box
           .img__box 
           
            img(src="https://technext.github.io/elearning/img/course-2.jpg", alt="", srcset="")
            .info__box 
             .info__read-more Read More 
             .info__join-now Join Now
           .course__txt 
            .txt__pad 
             p.course__price $149.00
             p.rating__star <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>  (123)
             p.course__txt-title Web Design & Development Course for Beginners
            ul.course__nav 
             li <i class="fa-solid fa-chalkboard-user"></i> John Doe
             li  <i class="fa-solid fa-clock"></i> 1.49 Hrs
             li <i class="fa-solid fa-user"></i> 30 Students
         .col.l-4.m-12.c-12 
          .course__box
           .img__box 
            img(src="https://technext.github.io/elearning/img/course-3.jpg", alt="", srcset="")
            .info__box 
             .info__read-more Read More 
             .info__join-now Join Now
           .course__txt 
            .txt__pad 
             p.course__price $149.00
             p.rating__star <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>  (123)
             p.course__txt-title Web Design & Development Course for Beginners
            ul.course__nav 
             li <i class="fa-solid fa-chalkboard-user"></i> John Doe
             li <i class="fa-solid fa-clock"></i> 1.49 Hrs
             li <i class="fa-solid fa-user"></i> 30 Students
      .exoert__instructors 
       .title__content 
        .expert__line 
         .top__line.top__right-line
         .bottom__line 
        p.expert__title INSTRUCTORS
        .expert__line 
         .top__line
         .bottom__line  
       p.expert__heading Expert Instructors
       .grid.wide 
        .row 
         .col.l-3.m-6.c-12
          .expert__box  
           .img__box 
             img(src="https://technext.github.io/elearning/img/team-1.jpg", alt="", srcset="")
           .instructor__name  
             p.instructor__title Instructor Name
             p.instructor__destrip Designation
             .icon__box 
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-instagram"></i>
         .col.l-3.m-6.c-12 
          .expert__box  
           .img__box 
             img(src="https://technext.github.io/elearning/img/team-2.jpg", alt="", srcset="")
           .instructor__name  
             p.instructor__title Instructor Name
             p.instructor__destrip Designation
             .icon__box 
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-instagram"></i>
         .col.l-3.m-6.c-12 
          .expert__box  
           .img__box 
             img(src="https://technext.github.io/elearning/img/team-3.jpg", alt="", srcset="")
           .instructor__name  
             p.instructor__title Instructor Name
             p.instructor__destrip Designation
             .icon__box 
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-instagram"></i>
         .col.l-3.m-6.c-12 
          .expert__box  
           .img__box 
             img(src="https://technext.github.io/elearning/img/team-4.jpg", alt="", srcset="")
           .instructor__name  
             p.instructor__title Instructor Name
             p.instructor__destrip Designation
             .icon__box 
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-instagram"></i>
      .testimonal 
       .title__testimonial 
        .testimonal__line 
         .top__line.top__right-line   
         .bottom__line
        p.testimonal__heading TESTIMONIAL
        .testimonal__line 
         .top__line
         .bottom__line
       p.testimonial__title Our Students Say!
       .swiper.mySwiper2
        .swiper-wrapper
         .swiper-slide
          .img__box 
           img(src="https://technext.github.io/elearning/img/testimonial-3.jpg", alt="", srcset="")
          .client__name 
           p.client Client Name 
           p.pro Profession 
          .testimonial__about 
           p.about Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.           
          
         .swiper-slide
          .img__box 
           img(src="https://technext.github.io/elearning/img/testimonial-3.jpg", alt="", srcset="")
          .client__name 
           p.client Client Name 
           p.pro Profession 
          .testimonial__about 
             p.about Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.           
         .swiper-slide
          .img__box 
           img(src="https://technext.github.io/elearning/img/testimonial-2.jpg", alt="", srcset="")
          .client__name 
           p.client Client Name 
           p.pro Profession 
          .testimonial__about 
           p.about Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.           
         .swiper-slide
          .img__box 
           img(src="https://technext.github.io/elearning/img/testimonial-1.jpg", alt="", srcset="")
          .client__name 
           p.client Client Name 
           p.pro Profession 
          .testimonial__about 
             p.about Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.           
        
        .swiper-pagination
     .footer 
      .grid.wide 
       .row 
        .col.l-3
         .footer__box 
           p.quick__link Quick Link
           ul.quick__link-nav 
            li 
             <i class="fa-solid fa-angle-right"></i>
              p About Us
            li 
             <i class="fa-solid fa-angle-right"></i>
              p Contact Us
            li 
             <i class="fa-solid fa-angle-right"></i>
              p Privacy Policy
            li 
             <i class="fa-solid fa-angle-right"></i>
              p Terms & Condition
            li 
             <i class="fa-solid fa-angle-right"></i>
              p FAQs & Help
        .col.l-3
         .footer__box 
           p.contact__heading Contact
           ul.contact__nav 
            li <i class="fa-solid fa-location-dot"></i> 123 Street, New York, USA
            li <i class="fa-solid fa-phone"></i> +012 345 67890
            li <i class="fa-solid fa-envelope"></i> info@example.com
        .col.l-3
         .footer__box 
          p.gallery Gallery
          .grid 
           .row 
            .col.l-4 
             img(src="https://technext.github.io/elearning/img/course-1.jpg", alt="", srcset="")
            .col.l-4 
             img(src="https://technext.github.io/elearning/img/course-2.jpg", alt="", srcset="")
            .col.l-4 
             img(src="https://technext.github.io/elearning/img/course-3.jpg", alt="", srcset="")
            .col.l-4 
             img(src="https://technext.github.io/elearning/img/course-2.jpg", alt="", srcset="")
            .col.l-4 
             img(src="https://technext.github.io/elearning/img/course-3.jpg", alt="", srcset="")
            .col.l-4 
             img(src="https://technext.github.io/elearning/img/course-1.jpg", alt="", srcset="")
        .col.l-3
         .footer__box 
          p.newsletter Newsletter 
          p.newsletter__about Dolor amet sit justo amet elitr clita ipsum elitr est.
          .form__box 
           input(type="text",placeholder="Your Email")
           <i class="fa-solid fa-arrow-right-to-bracket"></i>
     .modal
      .modal__content 
       .modal__close 
         <i class="close fa-solid fa-xmark"></i>
       ul.modal__txt 
        li Home
        li About
        li Course
        li Papges
        li Contact 
        li Join Now
     script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
     script(src="app/main.js") 
     script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
     script(src="app/swiper.js")